@import '../../styles/colors';
@import '../../styles/media';

.container {
  padding: 20px;
  flex-direction: column;
  background-color: $gallery;
  margin-right: 30px;
  max-width: 200px;
  flex: 1 1 200px;
}

@include mobile {
  .container {
    display: none;
  }
}
